/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .day__style {
    @apply text-lg font-medium text-white leading-none;
  }
  .icon__style {
    @apply w-14 h-14 flex justify-center items-center rounded-full text-white text-3xl cursor-pointer;
  }
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
}

.leftSideBar {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.leftSideBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.leftSideBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middleSection {
  display: grid;
  grid-template-columns: 1fr 2.2fr 1fr;
  gap: 2rem;
}

.weather__icon {
  transform: translateX(-50%);
}

.weather__info .degree span::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  position: absolute;
  top: 0;
  right: -1.3rem;
  border-radius: 50%;
}

.day__degree span::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border: 0.1rem solid #fff;
  position: absolute;
  top: 0rem;
  right: -0.3rem;
  border-radius: 50%;
}

.mainLeft__header::before {
  content: "";
  width: 0.3rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: hsl(0, 83%, 56%);
}

.buttonUp::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: hsl(0, 83%, 56%);
  opacity: 0;
  transition: all 300ms ease;
}

.buttonUp:hover::before {
  bottom: -0.25rem;
  opacity: 1;
}

.myScroll:hover::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

.myScroll::-webkit-scrollbar {
  width: 0.7rem;
}

.myScroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5rem;
}

.video__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ec4e4e;
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  animation: zoom 1s linear infinite;
}

@keyframes zoom {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  50% {
    opacity: 0.4;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.fa-circle-notch {
  animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}

.create__left span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-orientation: upright;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  writing-mode: vertical-lr;
  z-index: 2;
}

.story:hover .story__overlay {
  display: none;
}

.story:hover .bigImage {
  transform: scale(1.04);
}

.story h3 {
  transition: all 0.3s linear;
  bottom: -2rem;
}

.story .plus {
  transition: all 0.3s linear;
}

.story:hover h3 {
  bottom: 1.5rem;
}

.story:hover .plus {
  border-color: #ec4e4e;
  color: #ec4e4e;
}

.slick-slider {
  width: 58.2rem;
  height: 20rem;
}

.slick-list {
  width: 100% !important;
  height: 100% !important;
}

.slick-track {
  height: 100%;
  padding-bottom: 2.5rem;
}

.slick-slide div {
  height: 100%;
}

.slideItem {
  display: flex !important;
}

.btn {
  position: absolute;
  top: 35%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 50%);
  color: #f33d3d;
  font-size: 1.8rem;
  text-align: center;
  line-height: 3rem;
  background-color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #f33d3d;
  color: #fff;
}

.nextBtn {
  right: 0.5rem;
}

.prevBtn {
  left: 0.5rem;
}

.sentPost__image .iconsContainer {
  transform: translateX(-50%);
}

.sentPost__image .iconsContainer i {
  transform: scale(0);
  transition: all 0.2s ease var(--delay);
}

.sentPost__image:hover .iconsContainer i {
  transform: scale(1);
}

.fa-thumbtack {
  --delay: 0s;
}

.fa-thumbs-up {
  --delay: 0.1s;
}

.fa-thumbs-down {
  --delay: 0.2s;
}

.sentPost__image .iconsContainer i:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #f33d3d;
}

.toggleIcon {
  transform: scale(1);
}
.toggleIcon:hover i,
.toggleIcon:hover span {
  color: #f34949;
}

.toggleIcon:hover i {
  animation: bubbling 0.8s linear forwards;
}

.lightBox {
  background-color: rgba(68, 68, 68, 0.6);
}

@keyframes bubbling {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.sentPost {
  transition: all 0.3s linear;
}

.deleteBtn {
  transition: all 0.2s ease;
}
