/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .day__style {
    @apply text-lg font-medium text-white leading-none;
  }
  .icon__style {
    @apply w-14 h-14 flex justify-center items-center rounded-full text-white text-3xl cursor-pointer;
  }
  .label__style {
    @apply sm:text-xl text-lg text-gray-500 font-normal select-none;
  }
  .input__style {
    @apply normal-case w-full p-4 rounded-lg overflow-hidden border border-solid border-gray-300 focus:border-indigo-400 focus:shadow-lg mt-2 text-lg text-gray-600;
  }
  .smIcon__style {
    @apply w-12 h-12 rounded-lg flex items-center justify-center text-2xl text-white cursor-pointer;
  }
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
}

#norton-idsafe-field-logo-imgId {
  display: none;
}

html {
  font-size: 50%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body {
  background-color: #f1f1f1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.middleSection {
  display: grid;
  /* grid-template-columns: 1fr 2.2fr 1fr; */
  grid-template-columns: minmax(25rem, 50rem);
  gap: 2rem;
}

.weather__icon {
  transform: translateX(-50%);
}

.weather__info .degree span::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border: 0.2rem solid #fff;
  position: absolute;
  top: 0;
  right: -1.3rem;
  border-radius: 50%;
}

.day__degree span::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border: 0.1rem solid #fff;
  position: absolute;
  top: 0rem;
  right: -0.3rem;
  border-radius: 50%;
}

.mainLeft__header::before {
  content: "";
  width: 0.3rem;
  height: 1.7rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: hsl(0, 83%, 56%);
}

.buttonUp::before {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 0.1rem;
  background-color: hsl(0, 83%, 56%);
  opacity: 0;
  transition: all 300ms ease;
}

.buttonUp:hover::before {
  bottom: -0.25rem;
  opacity: 1;
}

.myScroll:hover::-webkit-scrollbar-thumb {
  background-color: #b8b8b8;
}

.myScroll::-webkit-scrollbar {
  width: 0.7rem;
}

.myScroll::-webkit-scrollbar-track {
  background-color: #fff;
}

.myScroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 5rem;
}

.video__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ec4e4e;
  border-radius: 50%;
  opacity: 0.7;
  z-index: -1;
  animation: zoom 1s linear infinite;
}

@keyframes zoom {
  0% {
    opacity: 0.7;
    transform: scale(1);
  }

  50% {
    opacity: 0.4;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1.4);
  }
}

.fa-circle-notch {
  animation: rotating 0.5s linear infinite;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #000;
  opacity: 0.6;
}

.create__left span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-orientation: upright;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  writing-mode: vertical-lr;
  z-index: 2;
}

.story:hover .story__overlay {
  display: none;
}

.story:hover .bigImage {
  transform: scale(1.04);
}

.story h3 {
  transition: all 0.3s linear;
  bottom: -2rem;
}

.story .plus {
  transition: all 0.3s linear;
}

.story:hover h3 {
  bottom: 1.5rem;
}

.story:hover .plus {
  border-color: #ec4e4e;
  color: #ec4e4e;
}

/* .slick-slider {
  width: 400px;
  height: 20rem;
} */

.slick-list {
  width: 100% !important;
  height: 100% !important;
}

.slick-track {
  height: 100%;
  width: 100%;
  padding-bottom: 2.5rem;
}

.slick-slide div {
  height: 100%;
}

.slideItem {
  display: flex !important;
}

.btn {
  position: absolute;
  top: 35%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 0.3rem 0.7rem rgb(0 0 0 / 50%);
  color: #f33d3d;
  font-size: 1.8rem;
  text-align: center;
  line-height: 3rem;
  background-color: #fff;
  transition: all 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #f33d3d;
  color: #fff;
}

.nextBtn {
  right: 0.5rem;
}

.prevBtn {
  left: 0.5rem;
}

.sentPost__image .iconsContainer {
  transform: translateX(-50%);
}

.sentPost__image .iconsContainer i {
  transform: scale(0);
  transition: all 0.2s ease var(--delay);
}

.sentPost__image:hover .iconsContainer i {
  transform: scale(1);
}

.fa-thumbtack {
  --delay: 0s;
}

.fa-thumbs-up {
  --delay: 0.1s;
}

.fa-thumbs-down {
  --delay: 0.2s;
}

.sentPost__image .iconsContainer i:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: #f33d3d;
}

.toggleIcon {
  transform: scale(1);
}
.toggleIcon:hover i,
.toggleIcon:hover span {
  color: #f34949;
}

.toggleIcon:hover i {
  animation: bubbling 0.8s linear forwards;
}

.lightBox {
  background-color: rgba(68, 68, 68, 0.6);
}

@keyframes bubbling {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.sentPost {
  transition: all 0.3s linear;
}

.deleteBtn {
  transition: all 0.2s ease;
}

.checkbox:checked + .custom__checkbox {
  background-color: rgba(6, 21, 153, 0.6);
  border-color: rgba(6, 21, 153, 0.6);
}

.orDivider::before,
.orDivider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45%;
  height: 0.1rem;
  background-color: #dbdbdb;
  transform: translateY(-50%);
}

.orDivider::before {
  left: 0;
}

.orDivider::after {
  right: 0;
}

.trans {
  transition: all 0.3s ease;
}

.module__show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.module__hide {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.friendList__show {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.friendList__hide {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.noModule {
  clip-path: none;
}

.msg {
  z-index: 99999999999999999;
}

.bar {
  animation: shrinking 2s linear forwards;
}

.leftShow {
  left: 0;
}

.rightShow {
  right: 0;
}

@keyframes shrinking {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media (min-width: 485px) {
  html {
    font-size: 50%;
  }

  .module__show {
    clip-path: none;
  }

  .module__hide {
    clip-path: none;
  }

  .slick-slider {
    width: 400px;
  }
}

@media (min-width: 650px) {
  .middleSection {
    grid-template-columns: minmax(30rem, 1fr);
  }
}

@media (min-width: 768px) {
  .middleSection {
    grid-template-columns: minmax(20rem, 1fr) minmax(60rem, 1fr);
  }
  .slick-slider {
    width: 480px;
  }
}

@media (min-width: 1018px) {
  html {
    font-size: 53%;
  }
  .middleSection {
    grid-template-columns: 1fr 2.2fr;
  }
  .slick-slider {
    width: 570px;
  }
}

@media (min-width: 1120px) {
  html {
    font-size: 53%;
  }
  .middleSection {
    grid-template-columns: 1fr 2.2fr 1fr;
  }
  .slick-slider {
    width: 510px;
  }
}

@media (min-width: 1250px) {
  .middleSection {
    grid-template-columns: 1fr 2.2fr 1fr;
  }
}

@media (min-width: 1315px) {
  html {
    font-size: 62.5%;
  }
  .slick-slider {
    width: 580px;
  }
}
